<div class="container">
    <div class="row">
        <div class="col-md-12 my-3">
            <!--Ligo un evento del hijo al metodo del padre-->  <!--De aqui le envio al hijo-->
            <app-form-new-item (newItemEvent)="addNewCity($event)" [label]="'City'" [className]="'btn-info'"> </app-form-new-item>
        </div>
        <div class="col-md-8">
            <ul >
                <li *ngFor="let city of cities" (click)="onCityClicked(city)" [ngClass]="{'alert alert-info': city ===selection}">{{city}}</li>
            </ul>                        
        </div>
        <!---Reutilizable-->
        <app-form-new-item (newItemEvent)="addNewCity($event)" [label]="'Shoes'" [className]="'btn-primary'"> </app-form-new-item>
        <app-form-new-item (newItemEvent)="addNewCity($event)" [label]="'Products'" [className]="'btn-danger'"> </app-form-new-item>

        <div class="col-md-4">  
            <div *ngIf="selection">
                <p >Your city is: {{selection}}</p>
                <app-button (click)="onClear()" [color]="'blue'" [label]="'Clear your selection'"></app-button>
            </div>
        </div>
    </div>
</div>


