<!--
<p>{{ title }} en Dominicode</p>
<p>Total: {{5+5}}</p>
<img src="{{url}}" alt="">
-->
<p *ngIf="name">Tu nombre es : {{name}}</p>
<input type="text" [(ngModel)]="name">

<ul>
    <li>Twinza</li>
    <li>Eloy Alfaro</li>
    <li>1ro de Mayo</li>
</ul>
<!-- Para renderizar con la directiva se debe poener asterisco-->
<ul *ngFor="let city of cities">
    <!--'selected blue'  STRING-->
    <!-- ['selected', 'blue'] ARRAY-->
    <!-- 
        <li [ngClass]="{'selected': city ==='Las Peñas', 'blue':city !='Las Peñas'}">{{city}}</li>
    -->

    <li [ngStyle]="{'color': 'red', 'background-color': city === 'Las Peñas' ? 'blue': 'green'}">{{city}}</li>

</ul>