<!--
<p>{{ title }} en Dominicode</p>
<p>Total: {{5+5}}</p>
<img src="{{url}}" alt="">
-->
<!--
    <p *ngIf="name">Tu nombre es : {{name}}</p>
<input type="text" [(ngModel)]="name">
-->
<ul>
    <li>Twinza</li>
    <li>Eloy Alfaro</li>
    <li>1ro de Mayo</li>
</ul>
<!-- Para renderizar con la directiva se debe poener asterisco-->
<ul *ngFor="let city of cities">
    <li (click)="onCityClicked(city)" [ngClass]="{'selected': city ===selection}">{{city}}</li>
    
</ul>

<!--
    <button (click)="onSave()"> Save </button>
-->
<div *ngIf="selection">
    <p >Your city is: {{selection}}</p>
    <button (click)="onClear()">Clear your selection</button>
</div>